/* 모달 배경 스타일 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* 초기에는 배경이 투명 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out; /* 배경색 변화에 트랜지션 효과 */

}

/* 모달이 열릴 때 배경이 어두워지도록 */
.modal-overlay.open {
    background-color: rgba(0, 0, 0, 0.6); /* 모달이 열리면 배경이 반투명 */
}

/* 모달 내용 스타일 */
.detail-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 550px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0; /* 초기에는 모달이 보이지 않음 */
    transform: translateY(-50px); /* 모달이 살짝 위로 위치하도록 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 트랜지션을 추가 */
}

/* 모달이 열린 상태 */
.detail-modal-content.open {
    opacity: 1;
    transform: translateY(0); /* 모달이 화면에 보이도록 이동 */
}

.detail-modal-body{
    height: 80%;
}
.detail-modal-close-btn-container{
    display: flex;
    justify-content: space-between;
}

.modal-close-btn{
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}
.modal-close-btn:hover{
    cursor: pointer;
    padding: 5px;
    background-color: rgba(119, 119, 119, 0.34);
    border-radius: 15px;
}
.detail-modal-title{
    font-size: 20px;
    font-weight: bold;
}

/* 모달 입력 필드 */
.detail-modal-input {
    width: 80%;
    padding: 25px;
    background-color: #efefef;
    margin-bottom: 10px;
    border-radius: 15px;
    outline: transparent;
    border: none;
    transition: outline 0.5s ease;
    font-size: 18px;
}
.detail-modal-input:hover{
    outline: 1px solid #8f8f8f;
}
.detail-modal-input:focus{
    outline: 3px solid #000000;
}

.details-border-line{
    border-bottom: 1px solid #070707;
    margin-bottom: 30px;
}

.management-detail-submit-button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #7d5cf8;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 15px;

    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.management-detail-submit-button:hover {
    background-color: #654adc;
    color: white;
}


.disabled-button {
    background-color: #ccc;
}
.disabled-button:hover{
    cursor: not-allowed;
    background-color: #ccc;
}

.service-icon {
    font-size: 24px;  /* 아이콘 크기 */
    margin-right: 10px;  /* 텍스트와 아이콘 사이의 간격 */
    color: #333;  /* 아이콘 색상 */
    display: inline-block;
}

.link-details-platform{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon{
    margin-left: 10px;
    font-size: 25px;
}

.service-platform{
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}

.service-type-result{
    justify-content: center;
    align-items: center;
    font-size: 25px;

}