.share-button-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.share-btn {
    display: flex;
    align-items: center;
    background-color: #828cfc;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;

    animation: fadeIn 0.7s ease-in-out;
}

.share-btn:hover {
    background-color: #6e79ff;
}

.share-link-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    animation: fadeIn 0.7s ease-in-out;
}

.share-link-input {
    border: none;
    padding: 5px;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    color: #818181;
    outline: none;

}

.copy-btn {
    background-color: #6e79ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.copy-btn:hover {
    background-color: #5a63e0;
}

.close-btn {
    background: none;
    color: #888;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

.close-btn:hover {
    color: #000;
}
