.themeSwitcher-container{
    width: 100%;
    margin: 10px auto;

}
.theme-switcher {
    width: 80%;

    background-color: #ffffff;
    color: black;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 0 auto;
    overflow: hidden; /* 내용이 밖으로 넘치지 않도록 설정 */
    transition: all 0.4s ease-in-out; /* 부드러운 애니메이션 */
    max-height: 0; /* 기본적으로 닫힌 상태 */
    opacity: 0; /* 기본적으로 보이지 않음 */
}

.theme-switcher.open {
    max-height: 300px;
    padding: 15px 30px;

    opacity: 1; /* 보이도록 설정 */
}
.theme-switcher-close {
    opacity: 0;
    padding: 15px 30px;
    max-height: 0;
}

.theme-toggle-button {
    padding: 10px 20px;
    margin: 0 auto;
    width: 90%;
    border: black solid 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.theme-toggle-button:hover {
    opacity: 0.8;
}

.theme-switcher h3 {
    font-size: 1.5em;
    text-align: center;
}

.theme-setting {
    margin-bottom: 16px;
}

.theme-setting label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.theme-setting input[type="color"] {
    margin-left: 10px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
}
