.themeSwitcher-container{
    width: 100%;
    margin: 0 auto;

}
.themeSwitcher-button-container{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.theme-switcher {
    width: 80%;

    background-color: #ffffff;
    color: black;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 0 auto;
    overflow: hidden; /* 내용이 밖으로 넘치지 않도록 설정 */
    transition: all 0.2s ease-in-out; /* 부드러운 애니메이션 */
    opacity: 0; /* 기본적으로 보이지 않음 */
}
.palette-icon{
    font-size: 25px;
    color: #8089ff;
    margin-right: 10px;

    transition: all 0.4s ease-in-out;
}
.palette-icon:hover{
    scale: 1.2;
    color: #6e79ff;
}

.theme-switcher.open {

    padding: 15px 30px;
    margin: 10px auto;
    opacity: 1; /* 보이도록 설정 */
}
.theme-switcher-close {
    opacity: 0;
    padding: 10px 30px;
}

.theme-toggle-button {

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: none;
    border-radius: 10px;
    padding: 10px;

    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}
.theme-toggle-button:hover {
    background-color: #efefef;
}


.theme-switcher h3 {
    font-size: 1.5em;
    text-align: center;
}

.theme-setting {
    margin-bottom: 20px;
}

.theme-setting label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
}

.theme-setting input[type="color"] {
    margin-left: 10px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.theme-border-radius-slider {
    width: 30%;
    height: 6px;
    background: #6c77ff; /* 트랙 색상 */
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    appearance: none; /* 기본 스타일 제거 */
}

.theme-border-radius-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #6c77ff; /* 핸들 색상 */
    border: 2px solid #fff; /* 핸들 테두리 */
    border-radius: 50%; /* 핸들을 둥글게 */
    cursor: pointer;
}

.theme-border-radius-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #6c77ff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.theme-border-radius-slider::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #6c77ff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}