/* 우측 하단 고정 버튼 */
.tutorial-button {
    position: fixed;
    bottom: 10px;
    right: 40px;
    background-color: transparent;
    color: #6e79ff;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 7px
}
.tutorial-button-quest{
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
    color: black;
}

.tutorial-button:hover{
    background-color: #ececec;
    cursor: pointer;
    color: #6e79ff;

}

/* 모달 스타일 */
.tutorial-modal {
    position: fixed;
    bottom: 20px; /* 화면 하단에서 20px 떨어짐 */
    right: 20px; /* 화면 우측에서 20px 떨어짐 */
    width: 300px; /* 적절한 너비 */
    height: 200px; /* 적절한 높이 */
    background: #ffffff; /* 흰색 배경 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 모달에 음영 추가 */
    border-radius: 12px; /* 둥근 모서리 */
    padding: 20px; /* 내부 여백 */
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: slide-in 0.3s ease-out; /* 등장 애니메이션 */
}

/* 모달 등장 애니메이션 */
@keyframes slide-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.tutorial-modal-content {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1001;
}


.start-tutorial-btn {
    background-color: #6e79ff;
    width: 60%;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
}
