.login-container {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    gap: 20px;
    position: relative;
    background-color: #6c77ff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-button {

    width: 300px;
}