:root {
    --buttonColor: #ffffff; /* 버튼 기본 배경색 */
    --profileColor: #ffffff;
    --fontColor: #000000; /* 텍스트 색상 */
    --iconColor: #ffffff;
    --borderRadius: 25px;
    --backgroundColor: #94a0db;
    --contentHeight: 10px;
}

.LinkDisplay{
    width: 100%;
    min-width: 300px;
    animation: fadeIn 0.7s ease-out;
}

.linktree-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden; /* 배경과 다른 요소가 스크롤 되지 않도록 */

}

.linktree-background-management {
    background-color: var(--backgroundColor);
    min-width: 250px;
    width: 300px;
    max-width: 430px;
    height: 700px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #c5c5c5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
}

.linktree-background-visit{
    background-color: var(--backgroundColor);
    width: 100%;

    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
}


.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.linktree-share{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.linktree-share-visit{
    min-width: 300px;
    margin: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.linktree-share-icon{
    color: var(--iconColor);
    font-size: 1.6rem;
    font-weight: bold;
}
.linktree-share-icon-star{
    color: var(--iconColor);
    font-size: 1.9rem;
    font-weight: bold;
}
.linktree-detail-title{
    font-size: 1rem;
}

.linktree-content {
    position: relative;
    max-height: 420px; /* 화면 크기에서 프로필 영역 크기 제외 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    border-radius: var(--borderRadius);
    z-index: 1; /* 배경보다 위에 표시 */
}

.linktree-content-visit{
    position: relative;
    max-height: 650px; /* 화면 크기에서 프로필 영역 크기 제외 */
    overflow-y: scroll; /* 세로 스크롤 활성화 */
    border-radius: var(--borderRadius);
    z-index: 1; /* 배경보다 위에 표시 */
}
.linktree-content-visit::-webkit-scrollbar {
    display: none;
}


/* 스크롤바 숨기기 */
.linktree-content::-webkit-scrollbar {
    width: 0px; /* 가로 스크롤바 숨기기 */
    height: 0px; /* 세로 스크롤바 숨기기 */
}

.linktree-content::-webkit-scrollbar-thumb {
    background: transparent; /* 스크롤바 thumb의 색을 투명하게 설정 */
}

.linktree-content::-webkit-scrollbar-track {
    background: transparent; /* 스크롤바 트랙도 투명하게 설정 */
}


.profile-image {
    width: 100px; /* 프로필 이미지 크기 */
    height: 100px;
    border-radius: 50%; /* 원형으로 만들기 */
    object-fit: cover; /* 이미지 비율을 유지하면서 잘림 없이 채우기 */
}

.linktree-name{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--profileColor);
    margin: 10px;
}

.linktree-description {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: normal;
    color: var(--profileColor);
    margin-top: 10px;
    margin-bottom: 15px;
}

.linktree-links {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* 버튼 스타일 */
.linktree-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px auto;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background-color: var(--buttonColor);
    color: var(--fontColor);
    font-size: 1rem;
    font-weight: bold;
    border-radius: var(--borderRadius);
    transition: min-height 0.4s ease-in-out;
    cursor: pointer;

    overflow: hidden;
    min-height: 40px; /* 기본 높이 */
}
.linktree-button.expanded{
    min-height: 100px; /* 확장된 높이 */
}

.linktree-details{
    width: 100%;
    padding: 5px 0;
}

.linktree-service-icon{
    color: var(--fontColor);
    margin-left: 15px;
    margin-right: 10px;
    font-size: 18px;
}

.linktree-detail-item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px auto;
    width: 90%;
    border-radius: var(--borderRadius);
    border: #818181 solid 1px;
    transition: scale 0.3s ease-in-out;
}
.linktree-detail-item:hover{
    scale: 1.03;
}


.linktree-socials {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

.blank-transparent{
    .linktree-detail-item{
        display: none;
    }
    background-color: transparent;
    color: transparent;
    pointer-events: none; /* 클릭을 막기 위해 포인터 이벤트를 비활성화 */

    margin: 0;
    min-height: 0;
    height: var(--contentHeight);
}

.social-icon {
    font-size: 22px;
    color: var(--iconColor);
    border-radius: 50%;
    padding: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

.linktree-spotify-embed{
    width: 90%;
    height: 360px;
    border: transparent;
}

.linktree-spotify-embed-main{
    width: 40%;
    height: 330px;
}


.folder-transparent-management {
    opacity: 0.7;
    pointer-events: none;
}

.folder-transparent-visitor{
    display: none;
}

.linktree-detail-platform-title{
    color: var(--fontColor);
}


/* 모달 배경 스타일 */
.link-display-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* 초기에는 배경이 투명 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out; /* 배경색 변화에 트랜지션 효과 */

}

/* 모달이 열릴 때 배경이 어두워지도록 */
.link-display-modal-overlay.open {
    background-color: rgba(0, 0, 0, 0.6); /* 모달이 열리면 배경이 반투명 */
}

.LinkDisplay-modal-button-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    padding: 10px;
}

.LinkDisplay-modal-button-container button{
    border: #a4a4a4 solid 2px;
    border-radius: 15px;
    background: none;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.LinkDisplay-modal-button-container button:hover{
    scale: 1.03;
}

.link-display-join-button{
    border: none;
    background: none;
    color: #6e79ff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.5s ease-in-out;
}

.link-display-join-button:hover{
    color: #6e79ff;
    scale: 1.01;
}

.link-display-url{
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #5e5e5e;
    margin: 0 auto;
}

