/* Tooltip.css */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: auto; /* 자동 크기 조정 */
    background-color: #ffffff;
    color: #5e5e5e;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 35px; /* 마우스 위로 툴팁 위치 조정 */
    left: 70%;
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s; /* 툴팁 표시/숨기기 전환 */
    z-index: 1000;

    font-size: 15px;
    white-space: nowrap; /* 텍스트가 자동 줄바꿈되지 않도록 */
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s; /* 대기시간 0초로 설정, hover 시 바로 보이도록 */
}

/* 툴팁 비활성 상태에서 숨길 때 */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}
